<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{layout::head}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav th:insert="~{layout::menu}"></nav>
<br />
<div class="card">
  <div class="card-header text-bg-secondary">
    Mantenimiento de Marca
  </div>
  <div class="card-body">
    <h5 class="card-title">Actualizar MARCAS</h5>
    <hr />
    <form th:action="@{/marcas/save}" method="post" th:object="${marca}">
      <input type="hidden" th:field="*{cod_marca}" >
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="txtnombre_marca" th:field="*{nombre_marca}"
               placeholder="name@example.com">
        <label for="txtnombre_marca">nombre de la marca del vehiculo</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="txtstock_marca" th:field="*{stock_marca}"
               placeholder="name@example.com">
        <label for="txtstock_marca">Stock del vehiculo</label>
      </div>
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
  </div>
</div>
</body>
</html>