<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout::head}">
    <meta charset="UTF-8">
    <title>Lista de Combustibles</title>
</head>
<body>
<nav th:insert="~{layout::menu}"></nav>
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h2>Lista de Combustibles</h2>
        <a class="btn btn-success" th:href="@{/combustions/create}">Nuevo Combustible</a>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipo de Combustión</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="combustion : ${combustiones}">
            <td th:text="${combustion.id}"></td>
            <td th:text="${combustion.tipoCombustion}"></td>
            <td>
                <a th:href="@{/combustions/edit/{id}(id=${combustion.id})}" class="btn btn-primary btn-sm">Editar</a>
                <a th:href="@{/combustions/delete/{id}(id=${combustion.id})}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>